<h2>Login</h2>

<%= form_for @session, :url => session_path do |f| %>

  <table class="form">
    <tr>
      <th><%= f.label :email, 'E-mail' %></th>
      <td><%= f.email_field :email, :autofocus => true, :required => true %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, :required => true %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.submit 'Login' %>
        <%= link_to 'Forgot Password',
          new_password_path if respond_to? :new_password_path %>
      </td>
    </tr>
  </table>

<% end %>
